
Assignment 1 - Filters and Edges/.vs/INFOIBV/v16/Server/sqlite3/db.lock
Assignment 1 - Filters and Edges/.vs/INFOIBV/v16/Server/sqlite3/storage.ide-wal
Assignment 1 - Filters and Edges/.vs/INFOIBV/v16/.suo
Assignment 1 - Filters and Edges/.vs/INFOIBV/v16/Server/sqlite3/storage.ide-wal
Assignment 1 - Filters and Edges/.vs/INFOIBV/v16/.suo
Assignment 1 - Filters and Edges/.vs/INFOIBV/v16/Server/sqlite3/storage.ide-shm
Assignment 1 - Filters and Edges/.vs/INFOIBV/v16/Server/sqlite3/storage.ide-wal
Assignment 1 - Filters and Edges/obj/x86/Debug/INFOIBV.csproj.GenerateResource.cache
Assignment 1 - Filters and Edges/obj/x86/Debug/INFOIBV.csprojAssemblyReference.cache
